.cart-page {
  padding: 40px 20px;
  background: #fff;
}

.cart-container {
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 40px;
}

/* LEFT */
.cart-left h2 {
  margin-bottom: 25px;
}

.cart-item {
  display: grid;
  grid-template-columns: 90px 2fr 120px 160px;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.cart-item img {
  width: 80px;
  border-radius: 6px;
}

.cart-info h4 {
  margin: 0 0 6px;
}

.cart-info .price del {
  color: #999;
  margin-right: 6px;
}

.cart-info .meta {
  font-size: 13px;
  color: #666;
}

.cart-qty {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
  border-radius: 6px;
}

.cart-qty button {
  border: none;
  background: none;
  padding: 10px 14px;
  cursor: pointer;
  font-size: 16px;
}

.cart-qty span {
  min-width: 28px;
  text-align: center;
}

.cart-price {
  position: relative;
  font-weight: 600;
  text-align: right;
  padding-right: 30px; /* space for trash icon */
}

.delete-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #000;
}

.delete-btn:hover {
  color: #d00;
}
/* RIGHT */
.cart-summary {
  background: #f9f9f9;
  padding: 25px;
  height: fit-content;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.summary-row.total {
  font-size: 18px;
  font-weight: bold;
}

.checkout-btn {
  width: 100%;
  padding: 14px;
  background: #000;
  color: #fff;
  border: none;
  margin: 20px 0;
  cursor: pointer;
}

.secure {
  font-size: 13px;
  color: #666;
}

.continue-btn {
  width: 100%;
  padding: 12px;
  background: none;
  border: 1px solid #000;
  cursor: pointer;
  margin-top: 20px;
}

/* EMPTY */
.cart-empty {
  padding: 80px 20px;
  text-align: center;
}

.cart-empty button {
  margin-top: 20px;
  padding: 12px 30px;
  background: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}
