.hero {
  display: flex;
  height: 90vh;
  width: 100%;
}

/* LEFT */
.hero-left {
  flex: 1;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.trend {
  font-size: 14px;
  margin-bottom: 10px;
}

.hero-left h1 {
  font-size: 64px;
  line-height: 1.1;
  margin-bottom: 30px;
}

.shop-btn {
  width: 150px;
  padding: 14px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

/* CENTER */
.hero-center {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-center img {
  height: 80%;
  object-fit: contain;
}

.overlay {
  position: absolute;
  bottom: 50px;
  background: rgba(255, 255, 255, 0.8);
  padding: 15px 25px;
}

.overlay h3 {
  margin-bottom: 5px;
}

/* RIGHT */
.hero-tabs {
  display: flex;
}

.tab {
  width: 70px;
  background: #111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}

.tab span {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 14px;
}

.tab.active {
  background: black;
  width: 90px;
}

.hero {
  display: flex;
  height: 90vh;
}

/* LEFT TEXT */
.hero-left {
  width: 35%;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-left h1 {
  font-size: 64px;
  line-height: 1.1;
}

.shop-btn {
  width: 150px;
  padding: 14px;
  background: black;
  color: white;
  border: none;
  margin-top: 30px;
  cursor: pointer;
}

/* SLIDER */
.hero-slider {
  width: 65%;
  display: flex;
  overflow: hidden;
}

/* SLIDES */
.slide {
  display: flex;
  transition: all 0.6s ease;
  cursor: pointer;
  background: #111;
}

/* CLOSED STATE */
.slide {
  display: flex;
  transition: all 0.6s ease;
  cursor: pointer;
}

/* Inactive slides */
.slide:not(.active) {
  width: 70px;
  background: #111;
}

/* Active slide */
.slide.active {
  flex: 1;
  background: transparent;
}

/* OPEN STATE */
.slide.active {
  width: calc(100% - 210px);
  background: transparent;
}

/* LABEL */
.slide-label {
  width: 70px;
  background: #111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-label span {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 14px;
}

/* IMAGE */
.slide-content {
  position: relative;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.slide.active .slide-content {
  display: flex;
}

.slide-content img {
  height: 80%;
  object-fit: contain;
}

/* OVERLAY */
.overlay {
  position: absolute;
  bottom: 40px;
  background: rgba(255, 255, 255, 0.85);
  padding: 15px 25px;
}
